@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@1,300&family=Playfair+Display:wght@500&family=Playfair:wght@600&display=swap');

html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--gray);
}

:root {
    --green: #afd189;
    --orange: #f4a261;
    --yellow: #ffeb9d;
    --gray: #edede9;
    --white: rgb(249, 246, 246);
    --black: rgb(20, 20, 20);
    --fontPlayfair: "Playfair Display";
    --fontNunito: 'Nunito Sans';
}

p{    
    font-family: var(--fontNunito) ;
    font-size: medium;
    margin: 2%;
}

h1,h2,h3,h4,h5,h6{
    font-family: var(--fontPlayfair);
    text-align: center;
    color: var(--green);
}

.list-product{
    max-width: 100%;
    list-style: none;
    background-color: var(--white);
}

li{
    font-family: var(--fontNunito);
    font-size: medium;
    margin: 5%;
}

li a.element-product{
    color:  var(--black);
    text-decoration: none;
}

li a.element-product:hover{
    color: var(--green);
    transform: scale(1.05);
    transition: ease-out 0.15s;
}

.container{
    max-width: 95%;
}

.green{
    color: var(--green);
}

.bg-green{
    background-color: var(--green);
}

.orange{
    color: var(--orange);
}

.bg-orange{
    background-color: var(--orange);
}

.yellow{
    color: var(--yellow);
}

.bg-yellow{
    background-color: var(--yellow);
}

.underline{
    text-decoration: underline;
}

.destacated{
    color: var(--green);
    font-weight: 900;
}

.first-letter-style::first-letter{
    font-size: x-large;
    font-family: var(--fontPlayfair);

}

.border-bottom-green{
    border-bottom: 1px solid #afd189;
}


.border-top-black{
    width: 99%;
    border-top: 1.2px solid rgba(117, 117, 117, 0.645);
}

.border-green{
    border-bottom: 1px solid #afd189!important;
    border-top: 1px solid #afd189!important;
    
}

.history{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(20, 20, 20);
} 




/*---------------------------------------------- NAVBAR ---------------------------------------------------------------------------*/

.navbar{
    padding: 0px 5%;
}

li a.nav-link:hover{
    color: var(--green);
    transform: scale(1.05);
    transition: ease-out 0.15s;
}


/*---------------------------------------------- CAROUSEL ---------------------------------------------------------------------------*/
.carousel{
    width: 100%;
}

.carousel-item img{
    width: 100%;
    height: 300px;
}

.img-history,.img-history2{
    width: 400px;
    shape-outside: margin-box;
    float: left;
}

.img-history{
    float: left;
    margin: 5px;
}

.img-history2{
    float: right;
}

/*---------------------------------------------- CARD ---------------------------------------------------------------------------*/
.card{
    background-color: var(--green);
    justify-content: center;
    height: 400px;
    text-align: center;
    margin: 10px;
    background-color: rgb(249, 246, 246);
}

.card img {
    max-width: 55%;
    max-height:50%;
    margin-top: 5px;
}
.card-product-price{
    font-family: var(--fontNunito) ;
    font-size: x-large;
    font-weight: bold;
}

.card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--fontPlayfair);
    max-height: 45%;  
}

.card:hover{
    transform: scale(1.03);
    z-index: 1000;
    transition: ease 0.4s;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.number-input{
    display: flex;
    border: 1px solid black;
    border-radius: 20px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    max-width: 50%;
    min-height: 25px;
    font-size: larger;
}

.input-quantity-product{
    border: none;
    max-width: 50%;
    text-align: center;
    border-right: 1px solid black;
    border-left: 1px solid black;
    outline: none;
}

.number-input button{
    background-color: white;
    border: none;
    width: 25%;
    font-weight: bold;
    font-size: larger;
}

.btn-buy{
    background-color: white;
    border: 2px solid var(--green);
    margin: 10px;
    font-family: var(--fontNunito);
    width: 60%;
    border-radius: 25px;
    text-transform: uppercase;
}

.btn-buy:hover{
    color: var(--green);
    font-weight: 600;
}


/*---------------------------------------------- Contact ---------------------------------------------------------------------------*/

.container {
    background-color: #fff;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    max-width: 98%;
    height: 100%;
    max-width: 400px;
}

.contact-form h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #5c4a72;
    text-align: center;
}

.contact-form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #5c4a72;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #d1c4e9;
    border-radius: 8px;
    font-size: 16px;
    box-sizing: border-box;
    background-color: #f7f3ff;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border-color: #b39ddb;
    outline: none;
}

.contact-form button {
    width: 100%;
    padding: 12px;
    background-color: #7e57c2;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: #673ab7;
}

.inputContact:hover{
    border-color: #9677d0 ;
    box-shadow: inset 0 0 0px rgb(191, 191, 191), 0px 0px 10px #aa92d7;
}

.inputContact:focus{
    border-color: #9677d0 ;
    box-shadow: inset 0 0 0px rgb(191, 191, 191), 0px 0px 10px #aa92d7;
}

.obligatorio{
    color: red;
}

.required{
    border: 1px solid rgb(253, 99, 99) !important;
    box-shadow: inset 0 0 0px rgb(191, 191, 191), 0px 0px 5px #ce5d5d;
    animation: zumbido 0.3s;
}
.required:hover{
    border: 1px solid rgb(253, 99, 99) !important;
    box-shadow: inset 0 0 0px rgb(191, 191, 191), 0px 0px 6px #d84747;
}

.validated{
    border: 1px solid rgb(115, 255, 59) !important;
    box-shadow: inset 0 0 0px rgb(191, 191, 191), 0px 0px 4px #76d36f;
}

.validated:hover{
    border: 1px solid rgb(115, 255, 59) !important;
    box-shadow: inset 0 0 0px rgb(191, 191, 191), 0px 0px 6px #76d36f;
}

@keyframes zumbido {
    0% {
        transform: translateX(2%);
      }
    25%{
        transform: translateX(-2%);
    }
    33%{
        transform: translateX(-2%);
    }
    45%{
        transform: translateX(2%);
    }
    66%{
        transform: translateX(2%);
    }
    100% {
        transform: translateX(-2%);
      }
}