@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@1,300&family=Playfair+Display:wght@500&family=Playfair:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root {
    --green: #afd189;
    --orange: #f4a261;
    --yellow: #ffeb9d;
}

p{    
    font-family: 'Nunito Sans';
}

.container{
    max-width: 95%;
}

.green{
    color: var(--green);
}

.bg-green{
    background-color: var(--green);
}

.orange{
    color: var(--orange);
}

.bg-orange{
    background-color: var(--orange);
}

.yellow{
    color: var(--yellow);
}

.bg-yellow{
    background-color: var(--yellow);
}

.underline{
    text-decoration: underline;
}

.destacated{
    color: var(--green);
    font-weight: bold;
}

.first-letter-style::first-letter{
    font-size: x-large;
}

.border-b{
    border-bottom: 1px solid #afd189;
}

/*---------------------------------------------- NAVBAR ---------------------------------------------------------------------------*/

li a.nav-link:hover{
    color: var(--orange);
    transform: scale(1.05);
    transition: ease-out 0.15s;
}


/*---------------------------------------------- CAROUSEL ---------------------------------------------------------------------------*/
.carousel{
    width: 100%;
}

.carousel-item img{
    width: 100%;
    height: 300px;
}

.img-history,.img-history2{
    width: 400px;
    shape-outside: margin-box;
    float: left;
}

.img-history{
    float: left;
    margin: 5px;
}

.img-history2{
    float: right;
}